.cart-product-body {
  border: 0px solid rgba(235, 238, 237, 0.966);
  box-shadow: 0 2px 20px rgb(118 112 112 / 10%);
  margin-bottom: 9px;
  border-radius: 2%;
  padding: 30px;
  width: 197px;
  height: 326px;
}

.render-cards {
  border: 2px solid rgb(247, 242, 247);
  box-shadow: 5px;
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(243, 239, 239);
}
.product-detail {
  text-align: center;
}

.cart-product-image {
  width: 100%;
  height: 210px;
}
.render-cards:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.product-detail-name {
  margin-top: 20px;
  font-weight: 300;
}
.button {
  height: 31px;
  width: 100px;
  border-radius: 15px;
}
.product-detail-price {
  margin-top: 10px;
}
.button-header {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 10px;
}
.button:hover {
  box-shadow: 0 4px 8px 0 rgba(163, 160, 160, 0.2);
}

.product-rating-container {
  position: absolute;
  font-size: 12px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
